../.venv/Lib
.venv/
venv/
env/


__pycache__/
*.pyc


/models/


.idea/
.vscode/

.env

*.log
*.tmp

.idea/
.vscode/
*.log
*.tmp
.DS_Store


backend/.venv/
backend/venv/
backend/env/

**/__pycache__/
*.pyc

backend/models/


backend/.env

backend/models_cache
backend/models_cache/**
backend/backend
frontend/node_modules/

frontend/build/

frontend/npm-debug.log*
frontend/yarn-error.log
frontend/yarn.lock

frontend/.env.local
frontend/.env.*.local
frontend/.env
/models_cache
backend/checkpoints