# created by virtualenv automatically
../.venv/Lib
# Игнорируем виртуальное окружение Python
.venv/
venv/
env/

# Игнорируем кэш Python и скомпилированные файлы
__pycache__/
*.pyc

# Игнорируем папки с тяжелыми моделями
# ВАЖНО: Никогда не загружайте LLM и Embedding модели в Git!
/models/

# Игнорируем сгенерированный индекс FAISS
# Он создается автоматически из .docx файла, его не нужно хранить в репозитории
/data/faiss_index_gemma/
backend/data/
# Игнорируем файлы IDE (для PyCharm, VSCode и т.д.)
.idea/
.vscode/

# Игнорируем локальные файлы окружения (если будете использовать)
.env

# Логи и временные файлы
*.log
*.tmp

# Общие файлы для игнорирования
.idea/
.vscode/
*.log
*.tmp
.DS_Store

# --- Backend (Python) ---

# Виртуальное окружение
backend/.venv/
backend/venv/
backend/env/

# Кэш Python
**/__pycache__/
*.pyc

# Папки с тяжелыми моделями
backend/models/

# Сгенерированный индекс FAISS
backend/data/faiss_index_gemma/

# Локальные переменные окружения
backend/.env


# --- Frontend (React / Node.js) ---

# Папка с зависимостями
frontend/node_modules/

# Сборка проекта для продакшена
frontend/build/

# Логи ошибок
frontend/npm-debug.log*
frontend/yarn-error.log
frontend/yarn.lock

# Локальные переменные окружения
frontend/.env.local
frontend/.env.*.local
frontend/.env