# created by virtualenv automatically
.venv/Lib
# Игнорируем виртуальное окружение Python
.venv/
venv/
env/

# Игнорируем кэш Python и скомпилированные файлы
__pycache__/
*.pyc

# Игнорируем папки с тяжелыми моделями
# ВАЖНО: Никогда не загружайте LLM и Embedding модели в Git!
/models/

# Игнорируем сгенерированный индекс FAISS
# Он создается автоматически из .docx файла, его не нужно хранить в репозитории
/data/faiss_index_gemma/
/data/
# Игнорируем файлы IDE (для PyCharm, VSCode и т.д.)
.idea/
.vscode/

# Игнорируем локальные файлы окружения (если будете использовать)
.env

# Логи и временные файлы
*.log
*.tmp