fastapi
uvicorn[standard]
python-multipart

redis

langchain
langchain-community
langchain-ollama

faiss-cpu
sentence-transformers


python-docx
pandas

evaluate

tensorflow==2.15.0
tf-keras
huggingface_hub

nltk
rouge_score
langchain-huggingface
torch
torchaudio
transformers
scipy
numpy
nemo_toolkit[asr]
soundfile
bleurt @ git+https://github.com/google-research/bleurt.git