# --- Основа веб-сервера ---
fastapi
uvicorn[standard]
python-multipart # Для CORS

# --- База данных и кэш ---
redis

# --- LangChain и RAG ---
langchain
langchain-community
langchain-ollama

# --- Векторный поиск ---
faiss-cpu # Используйте faiss-gpu, если у вас настроен GPU
sentence-transformers

# --- Утилиты для обработки данных ---
python-docx # Для чтения .docx файлов
pandas # Для работы с CSV в скрипте оценки

evaluate

# --- Зависимости для BLEURT и Hugging Face ---
tensorflow==2.15.0
tf-keras
huggingface_hub

nltk
rouge_score
flashrank
langchain-huggingface